<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.crud.mapper.CrudMapper">
    <resultMap id="baseResultMap" type="com.example.crud.bean.Crud">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="link" property="link" jdbcType="VARCHAR"/>
        <result column="date" property="date" jdbcType="DATE"/>
        <result column="author" property="author" jdbcType="VARCHAR"/>
        <result column="tag" property="tag" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="findAll" resultMap="baseResultMap">
        select * from crud
    </select>

    <select id="findById" resultMap="baseResultMap">
        select * from crud where id = #{id}
    </select>
</mapper>
