<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.crud.mapper.UserMapper">
    <resultMap id="baseResultMap" type="com.example.crud.bean.ApplicationUser">
        <id column="user_id" property="id" jdbcType="INTEGER"/>
        <result column="user_name" property="username" jdbcType="VARCHAR"/>
        <result column="user_password" property="password" jdbcType="VARCHAR"/>
        <result column="user_role" property="role" jdbcType="VARCHAR"/>
        <result column="time" property="time" jdbcType="TIMESTAMP"/>
    </resultMap>
    <!--<resultMap id="roleResultMap" type="String">-->
        <!--<result column="user_role" property="role" jdbcType="VARCHAR"/>-->
    <!--</resultMap>-->
    <!--<insert id="insert" parameterType="com.example.crud.bean.ApplicationUser">-->
        <!--insert into user(-->
        <!--user_name, user_password-->
        <!--)-->
        <!--values (-->
         <!--#{username,jdbcType=VARCHAR},-->
         <!--#{userpassword,jdbcType=VARCHAR}-->
        <!--)-->
    <!--</insert>-->
    <select id="findByName" parameterType="com.example.crud.bean.ApplicationUser" resultMap="baseResultMap">
        select user_id,user_name,user_password,user_role from user where user_name=#{username}
    </select>
    <select id="findRole" parameterType="String" resultType="String">
        select user_role from user where user_name=#{username}
    </select>

    <select id="findAll" resultMap="baseResultMap">
        select * from user
    </select>

    <select id="findById" parameterType="Integer" resultMap="baseResultMap">
        select * from user where user_id = #{id}
    </select>

    <insert id="insertUserMessage" parameterType="com.example.crud.bean.ApplicationUser">
        insert into user(
        user_name, user_password, user_role
        ) values (
         #{username,jdbcType=VARCHAR},
         #{password,jdbcType=VARCHAR},
         #{role,jdbcType=VARCHAR}
        )
    </insert>

    <delete id="deleteUserMessage" parameterType="Integer">
        delete from user where user_id = #{id}
    </delete>

    <update id="updateUserMessage" parameterType="String">
        update user
        <set>
         user_password = #{arg0},
         user_role = #{arg1},
        </set>
        where user_name = #{arg2}
    </update>

</mapper>
